@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'JetBrains Mono', monospace;
  }
  
  body {
    @apply antialiased text-dark-900 dark:text-dark-100 bg-dark-50 dark:bg-dark-900 text-sm transition-colors;
  }

  :root {
    color-scheme: light dark;
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}